

  .timer {
    height: 5%;
    width: 5%;
    padding: 10px;
    background: #3091ec;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
  }

 

  .large-font {
    font-size: 2em;
    text-align:center;
  }

