
#wrapper {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 50%;
    height: 50%;
    
}
#start h1 {
    position: relative;
    top: 20%;
    right: 30%;
    text-align: center;
    color: dodgerblue;
    
}

#start p {
    position: relative;
    top: 20%;
    right: 30%;
    text-align: center;
    color: rgb(105, 0, 24);
}
 
#start-button {
    
    height: 20%;
    width: 25%;
    text-align: center;
    color: rgb(105, 0, 24);
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 40px;
    margin-left: 8%;
    


}

#wrapper {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 50%;
    height: 50%;

    
}

#wrapper h1 {
    font-size: 30px;
}

li {
    font-size: 20px;
    padding: 7px 10px;
    color: rgb(72, 1, 1);
    background-color: dodgerblue;
    margin: 10px;
}
